body {
  font-family: 'Lato', sans-serif;
  background: black;
  color: white;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#canvas_container {
    position: absolute;
    height: inherit;
    width: inherit;
    overflow: hidden;
}

#drawing_canvas {
  position: absolute;
  width: max(100vw, 100vh);
  height: max(100vw, 100vh);
  left: calc((max(100vw, 100vh) - 100vw) / -2);
  top: calc((max(100vw, 100vh) - 100vh) / -2);
  pointer-events: none;
}

#main_img {
    margin: 1rem;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
}

#main_container {
    margin: 4rem;
    background: #d2c1d2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    box-shadow: 5px 4px 10px #b9c4ca;
    -webkit-box-shadow: 5px 4px 10px #9da6ab;
    min-height: max-content;
    width: calc(100vw - 8rem);
    height: calc(100vh - 8rem);
}
